body
{
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #12372A;
}

.bg-light
{
    background-color: #ADBC9F !important;
}

a, #websitelist, #hobbylist, #favwebsites, #favhobbies, #name, #parabiography, #copyright
{
    color: white;
}

#weeklyschedule
{
    font-weight: bolder;
    text-align: center;
    color: black;
    padding: 15px;
    background-color: #ADBC9F;
}

#biography, #websites, #hobbies
{
    background-color: #436850;
}

#schedule, #movies
{
    background-color: #ADBC9F;
}

#name, #parabiography
{
    text-align: center;
    padding: 5px;
}

#profile
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 500px;
}

td, th
{
    text-align: center;
    vertical-align: middle;
}

.table-striped>tbody>tr:nth-child(odd)>td
{
    background-color: #ADBC9F;
}

.table-striped>tbody>tr:nth-child(even)>td, .table-striped>thead>tr:nth-child(odd)>th
{
    background-color: #FBFADA;
}
